{% extends 'base.html' %}

{% block content %}
<ul class="list jobs_list">
    {% for job in jobs %}
        <li class="job">
            <h2 class="job_title">{{job.title}}</h2>
            <p class="job_descr">{{ job.description }}</p>
            <img src="" alt="job-image" class="job_image">
            <div class="job_btns">
                <a href="#" class="job_btn delete">Delete</a>
                <a href="{% url 'details' id=job.id %}" class="job_btn read">Read more</a>
            </div>
        </li>
    {% endfor %}
</ul>
{% endblock %}